<script type="text/javascript">
LABKEY.requiresScript('Ext.ux.form.LovCombo.js');
LABKEY.requiresCss('Ext.ux.form.LovCombo.css');
LABKEY.requiresScript('reagent/util.js');
</script>

<div id="msgDiv"></div>
<div id='formDiv'></div>
<script type="text/javascript">
  var schemaName = LABKEY.ActionURL.getParameter('schemaName');
  var queryName = LABKEY.ActionURL.getParameter('queryName') || LABKEY.ActionURL.getParameter('query.queryName');

  if (queryName)
  {
    if (queryName.charAt(queryName.length-1) == 's')
    {
      var navTrailEl = document.getElementById('labkey-nav-trail-current-page');
      var tableTitle = queryName.substring(0, queryName.length-1);
      navTrailEl.innerHTML = "Insert New " + tableTitle;
    }

    Ext.onReady(function () {
        initForm(false, 0, schemaName, queryName);
    });
  }

</script>
