<table id="vialDetails">
    <tr>
        <td class="labkey-form-label">Lot:</td>
        <td><span id="Lot"></span></td>
    </tr>
    <tr>
        <td class="labkey-form-label">Reagent:</td>
        <td><span id="Reagent"></span></td>
    </tr>
    <tr>
        <td class="labkey-form-label">Experiment Id:</td>
        <td><span id="ExperimentId"></span></td>
    </tr>
    <tr>
        <td class="labkey-form-label">Performed By:</td>
        <td><span id="PerformedBy"></span></td>
    </tr>
    <tr>
        <td class="labkey-form-label">Type:</td>
        <td><span id="Type"></span></td>
    </tr>
    <tr>
        <td class="labkey-form-label">Result:</td>
        <td><span id="Result"></span></td>
    </tr>
    <tr>
        <td class="labkey-form-label">Description:</td>
        <td><span id="Description"></span></td>
    </tr>
</table>
<p>
<a id="edit" class="labkey-button">Edit</a>
<a id="viewGrid" class="labkey-button">View Grid</a>
<a id="viewReagent" class="labkey-button">View Reagent</a>
<a id="viewLot" class="labkey-button">View Lot</a>

<p>
<div id="titrationVials"></div>

<script type="text/javascript">
    var rowId = LABKEY.ActionURL.getParameter('RowId');

    document.getElementById('edit').href = LABKEY.ActionURL.buildURL('reagent', 'update.view', LABKEY.ActionURL.getContainer(), {
        schemaName: 'reagent',
        queryName: 'Titrations',
        RowId: rowId
    });

    document.getElementById('viewGrid').href = LABKEY.ActionURL.buildURL('query', 'executeQuery.view', LABKEY.ActionURL.getContainer(), {
        schemaName: 'reagent',
        "query.queryName": 'Titrations'
    });

    Ext.onReady(function () {

        var nav = Ext.get('labkey-nav-trail-current-page');
        if (nav && nav.dom)
            nav.dom.style["display"] = "none";

        LABKEY.Query.selectRows({
            schemaName: 'reagent',
            queryName: 'Titrations',
            filterArray: [ LABKEY.Filter.create("RowId", rowId) ],
            columns: [
                "LotId",
                "LotId/LotNumber",
                "LotId/ReagentId",
                "LotId/ReagentId/AntigenId/Name", "LotId/ReagentId/LabelId/Name", "LotId/ReagentId/Clone",
                "LotId/ManufacturerId/Name",
                "ExperimentId", "PerformedBy", "Type", "Result", "Description"
            ].join(","),
            successCallback: function (data) {
                if (data.rows.length == 1)
                {
                    var row = data.rows[0];

                    var lotDetailsURL = LABKEY.ActionURL.buildURL('reagent', 'lot.view', LABKEY.ActionURL.getContainer(), {
                        RowId: row['LotId']
                    });
                    var lotText = row['LotId/LotNumber'] + ': ' + row['LotId/ManufacturerId/Name'];

                    document.getElementById('viewLot').href = lotDetailsURL;
                    Ext.get('Lot').update("<a href='" + lotDetailsURL + "'>" + lotText + "</a>");


                    var reagentDetailsURL = LABKEY.ActionURL.buildURL('reagent', 'reagent.view', LABKEY.ActionURL.getContainer(), {
                        RowId: row['LotId/ReagentId']
                    });
                    var reagentText = row['LotId/ReagentId/AntigenId/Name'] + ', ' + row['LotId/ReagentId/LabelId/Name'] + ' (' + row['LotId/ReagentId/Clone'] + ')';

                    document.getElementById('viewReagent').href = reagentDetailsURL;
                    Ext.get('Reagent').update("<a href='" + reagentDetailsURL + "'>" + reagentText + "</a>");

                    Ext.get('ExperimentId').update(row['ExperimentId']);
                    Ext.get('PerformedBy').update(row['PerformedBy']);
                    Ext.get('Type').update(row['Type']);
                    Ext.get('Result').update(row['Result']);
                    Ext.get('Description').update(row['Description']);

                    
                    var vialsGrid = new LABKEY.QueryWebPart({
                        renderTo: 'titrationVials',
                        schemaName: 'reagent',
                        queryName: 'Vials',
                        allowChooseQuery: false,
                        columns: [ "Location", "Box", "Row", "Col", "Used" ].join(","),
                        filters: [ LABKEY.Filter.create("LotId", row['LotId']) ]
                    });
                }
            }
        });

    });
</script>

