<div id="msgDiv"></div>
<div id='formDiv'></div>
<script type="text/javascript">
  var schemaName = LABKEY.ActionURL.getParameter('schemaName');
  var queryName = LABKEY.ActionURL.getParameter('queryName') || LABKEY.ActionURL.getParameter('query.queryName');
  var selected = LABKEY.ActionURL.getParameter('selected') == "true";
  var selectionKey = selected ? LABKEY.ActionURL.getParameter('selectionKey') : undefined;
  var rowId = selected ? 0 : LABKEY.ActionURL.getParameter('RowId');

  if (queryName)
  {
    if (queryName.charAt(queryName.length-1) == 's')
    {
      var navTrailEl = document.getElementById('labkey-nav-trail-current-page');
      if (selected)
      {
        navTrailEl.innerHTML = "Bulk Update Selected " + queryName;
      }
      else
      {
        var tableTitle = queryName.substring(0, queryName.length-1);
        navTrailEl.innerHTML = "Update " + tableTitle;
      }
    }

    Ext.onReady(function () {
        initForm(selected, rowId, schemaName, queryName, selectionKey);
    });
  }

</script>

