<table id="vialDetails">
    <tr>
        <td class="labkey-form-label">Lot:</td>
        <td><span id="Lot"></span></td>
    </tr>
    <tr>
        <td class="labkey-form-label">Reagent:</td>
        <td><span id="Reagent"></span></td>
    </tr>
    <tr>
        <td class="labkey-form-label">Owned By:</td>
        <td><span id="OwnedBy"></span></td>
    </tr>
    <tr>
        <td class="labkey-form-label">Location:</td>
        <td><span id="Location"></span></td>
    </tr>
    <tr>
        <td class="labkey-form-label">Used:</td>
        <td><span id="Used"></span></td>
    </tr>
</table>
<p>
<a id="edit" class="labkey-button">Edit</a>
<a id="viewGrid" class="labkey-button">View Grid</a>
<a id="viewReagent" class="labkey-button">View Reagent</a>
<a id="viewLot" class="labkey-button">View Lot</a>

<p>
<div id="vialTitrations"></div>

<script type="text/javascript">
    var rowId = LABKEY.ActionURL.getParameter('RowId');

    document.getElementById('edit').href = LABKEY.ActionURL.buildURL('reagent', 'update.view', LABKEY.ActionURL.getContainer(), {
        schemaName: 'reagent',
        queryName: 'Vials',
        RowId: rowId
    });

    document.getElementById('viewGrid').href = LABKEY.ActionURL.buildURL('query', 'executeQuery.view', LABKEY.ActionURL.getContainer(), {
        schemaName: 'reagent',
        "query.queryName": 'Vials'
    });

    Ext.onReady(function () {
        var nav = Ext.get('labkey-nav-trail-current-page');
        if (nav && nav.dom)
            nav.dom.style["display"] = "none";

        LABKEY.Query.selectRows({
            schemaName: 'reagent',
            queryName: 'Vials',
            filterArray: [ LABKEY.Filter.create("RowId", rowId) ],
            columns: [
                "LotId",
                "LotId/LotNumber",
                "LotId/ReagentId",
                "LotId/ReagentId/AntigenId/Name", "LotId/ReagentId/LabelId/Name", "LotId/ReagentId/Clone",
                "LotId/ManufacturerId/Name",
                "Location", "Box", "Row", "Col", "Used"
            ].join(","),
            successCallback: function (data) {
                if (data.rows.length == 1)
                {
                    var row = data.rows[0];

                    var lotDetailsURL = LABKEY.ActionURL.buildURL('reagent', 'lot.view', LABKEY.ActionURL.getContainer(), {
                        RowId: row['LotId']
                    });
                    var lotText = row['LotId/LotNumber'] + ': ' + row['LotId/ManufacturerId/Name'];

                    document.getElementById('viewLot').href = lotDetailsURL;
                    Ext.get('Lot').update("<a href='" + lotDetailsURL + "'>" + lotText + "</a>");


                    var reagentDetailsURL = LABKEY.ActionURL.buildURL('reagent', 'reagent.view', LABKEY.ActionURL.getContainer(), {
                        RowId: row['LotId/ReagentId']
                    });
                    var reagentText = row['LotId/ReagentId/AntigenId/Name'] + ', ' + row['LotId/ReagentId/LabelId/Name'] + ' (' + row['LotId/ReagentId/Clone'] + ')';

                    document.getElementById('viewReagent').href = reagentDetailsURL;
                    Ext.get('Reagent').update("<a href='" + reagentDetailsURL + "'>" + reagentText + "</a>");

                    var loc = [ ];
                    if (row['Location'])
                        loc.push(row['Location']);
                    if (row['Box'])
                        loc.push("<span class='labkey-form-label'>Box:</span> " + row['Box']);
                    if (row['Row'])
                        loc.push("<span class='labkey-form-label'>Row:</span> " + row['Row']);
                    if (row['Col'])
                        loc.push("<span class='labkey-form-label'>Col:</span> " + row['Col']);

                    Ext.get('Location').update(loc.join("&nbsp;&nbsp;"));
                    Ext.get('OwnedBy').update(row['OwnedBy']);
                    Ext.get('Used').update(row['Used'] === 'true' ? "true" : "false");


                    var titrationsGrid = new LABKEY.QueryWebPart({
                        renderTo: 'vialTitrations',
                        schemaName: 'reagent',
                        queryName: 'Titrations',
                        allowChooseQuery: false,
                        columns: [ "ExperimentId", "PerformedBy", "Type", "Result", "Description" ].join(","),
                        filters: [ LABKEY.Filter.create("LotId", row["LotId"]) ]
                    });
                }
            }
        });

    });
</script>

