* text=auto !eol
/module.properties -text
resources/schemas/dbscripts/postgresql/obsolete/reagent-0.00-10.10.sql -text
resources/schemas/dbscripts/postgresql/obsolete/reagent-0.00-10.30.sql -text
resources/schemas/dbscripts/postgresql/obsolete/reagent-12.30-13.10.sql -text
resources/schemas/dbscripts/postgresql/reagent-0.00-13.10.sql -text
resources/schemas/dbscripts/postgresql/reagent-13.10-13.20.sql -text
resources/schemas/dbscripts/postgresql/reagent-13.20-13.30.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/reagent-10.20-10.30.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/reagent-12.30-13.10.sql -text
resources/schemas/dbscripts/sqlserver/reagent-0.00-13.10.sql -text
resources/schemas/dbscripts/sqlserver/reagent-13.10-13.20.sql -text
resources/schemas/dbscripts/sqlserver/reagent-13.20-13.30.sql -text
resources/schemas/reagent.xml -text
resources/views/begin.html -text
resources/views/initialize.html -text
resources/views/initialize.view.xml -text
resources/views/insert.html -text
resources/views/insert.view.xml -text
resources/views/lot.html -text
resources/views/lot.view.xml -text
resources/views/reagent.html -text
resources/views/reagent.view.xml -text
resources/views/titration.html -text
resources/views/titration.view.xml -text
resources/views/update.html -text
resources/views/update.view.xml -text
resources/views/vial.html -text
resources/views/vial.view.xml -text
resources/web/reagent/util.js -text
test/src/org/labkey/test/tests/ReagentTest.java -text
test/test_reagent.iml -text
