* text=auto !eol
/module.properties -text
resources/schemas/dbscripts/postgresql/obsolete/reagent-0.00-0.10.sql -text
resources/schemas/dbscripts/postgresql/obsolete/reagent-0.00-10.10.sql -text
resources/schemas/dbscripts/postgresql/obsolete/reagent-0.10-0.20.sql -text
resources/schemas/dbscripts/postgresql/obsolete/reagent-0.20-0.30.sql -text
resources/schemas/dbscripts/postgresql/obsolete/reagent-0.30-0.40.sql -text
resources/schemas/dbscripts/postgresql/obsolete/reagent-0.40-0.50.sql -text
resources/schemas/dbscripts/postgresql/obsolete/reagent-10.20-10.21.sql -text
resources/schemas/dbscripts/postgresql/obsolete/reagent-10.20-10.30.sql -text
resources/schemas/dbscripts/postgresql/obsolete/reagent-10.22-10.23.sql -text
resources/schemas/dbscripts/postgresql/obsolete/reagent-10.23-10.24.sql -text
resources/schemas/dbscripts/postgresql/obsolete/reagent-13.20-13.21.sql -text
resources/schemas/dbscripts/postgresql/reagent-0.00-10.30.sql -text
resources/schemas/dbscripts/postgresql/reagent-12.30-13.10.sql -text
resources/schemas/dbscripts/postgresql/reagent-13.10-13.20.sql -text
resources/schemas/dbscripts/postgresql/reagent-13.20-13.30.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/reagent-10.21-10.22.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/reagent-10.22-10.23.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/reagent-10.23-10.24.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/reagent-13.20-13.21.sql -text
resources/schemas/dbscripts/sqlserver/reagent-10.20-10.30.sql -text
resources/schemas/dbscripts/sqlserver/reagent-12.30-13.10.sql -text
resources/schemas/dbscripts/sqlserver/reagent-13.10-13.20.sql -text
resources/schemas/dbscripts/sqlserver/reagent-13.20-13.30.sql -text
resources/schemas/reagent.xml -text
resources/views/begin.html -text
resources/views/initialize.html -text
resources/views/insert.html -text
resources/views/lot.html -text
resources/views/reagent.html -text
resources/views/titration.html -text
resources/views/update.html -text
resources/views/vial.html -text
resources/web/reagent/util.js -text
test/src/org/labkey/test/tests/ReagentTest.java -text
